# Vector DB / Chroma
backend/chroma_db/

# Temporary processing files
processor_tmp/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environment files
.env

# Other files to ignore
*.log
*.sqlite3
